@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-kanit: "Kanit", sans-serif;
    --bg-color: #0C0C0C;
    --before-color: #F2613F;
    --after-color: #9B3922;
    --main-color: rgba(5, 5, 5, 0.4);
    --main-border: #481e14a1;
    --main-shadow: #481e14f5;
    --input-border: #9B3922;
}

*{
    border: none;
    outline: none;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-kanit);
}

body::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--before-color);
    left: 15%;
    top: 20%;
    filter: blur(160px);
}

body::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--after-color);
    right: 15%;
    bottom: 20%;
    filter: blur(160px);
}

.main{
    width: 25rem;
    color: #fff;
    background-color: var(--main-color);

    border: 1px solid var(--main-border);
    box-shadow: 0 4px 30px var(--main-shadow);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.main h2{
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.main p{
    font-size: 1rem;
    margin-bottom: 10px;
}

.main form input{
    height: 40px;
    font-size: 1rem;
    background: transparent;
    color: #fff;
    border: 1px solid #999;
    transition: all 0.3s ease;
}

.main form input:hover{
   border: 1px solid var(--input-border);
}

.main form input:focus{
    padding: 0 14px;
    border: 1px solid var(--input-border);
 }

.main .convert-box .select-input{
    border: 1px solid #999;
    height: 40px;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
 }

.main .convert-box .select-input:hover{
    border: 1px solid var(--input-border);
 }

.main .convert-box .select-input img{
    max-width: 20px;
 }

.main .convert-box .select-input select{
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    background: none !important;
    border-radius: 1px; /* NÃO TIRAR */
    color: #fff;
 }

.main .convert-box .select-input select option{ 
   color: #000;
 }

.main .convert-box .reverse{
    cursor: pointer;
    margin-top: 32px;
    font-size: 22px;
    transform: rotate(90deg);
    transition: all 0.4s ease;
 }

.main .convert-box .reverse:hover{
    color: var(--input-border);
 }

.main form .result{
    font-size: 1.1em;
    margin: 20px 0px 30px;
}

.main form button{
    height: 42px;
    color: #fff;
    background-color: #222831;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.main form button:hover{
    background: var(--input-border);
}